{% extends '::base.html.twig' %}
  {% block titreP -%} Modifier Profile {% endblock %}
{% block body -%}

    <form action="{{ path('candidat_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="btn btn-large btn-primary">Modifier</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('candidat') }}">Continue</a>
    </li>

</ul>
{% endblock %}
