{% extends '::base.html.twig' %}
  {% block titreP -%} Profile {% endblock %}
{% block body -%}
  

    <form action="{{ path('candidat_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-large btn-primary">Enregistrer </button>
        </p>
    </form>

{% endblock %}
