{% extends '::base.html.twig' %}
  {% block titreP -%}Candidat creation{% endblock %}
{% block body -%}
  

    <form action="{{ path('candidat_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Enregistrer</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('candidat') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
