{% extends '::base.html.twig' %}
{% block titreP -%}Creation d'une nouvelle Filiere {% endblock %}
{% block body -%}
 

    <form action="{{ path('filiere_create') }}" method="post" {{ form_enctype(form) }}>
        <input type="hidden" name="res" value="{{res}}" />
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-large btn-warning">Valider</button>
        </p>
    </form>


{% endblock %}
