{% extends '::layout.html.twig' %}

{% block body -%}
    <h1>Nouvelle candidature</h1>

    <form action="{{ path('userfos_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            
            <button class="button btn btn-primary btn-large" type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    
</ul>
{% endblock %}
